# solaredge_modbus==0.8.0
# pymodbus==3.6.9

# import solaredge_modbus based on commit fd3ce7a to get the extra fields in the Inverter Information block listed in inverters.py
# git+https://github.com/nmakel/solaredge_modbus.git@fd3ce7a#egg=solaredge_modbus

# solaredge_modbus requirements for static version
pymodbus ~= 3.5.0
pyserial-asyncio ~= 0.6.0